<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
        voluptatibus excepturi dolorum modi iure. Illum, tenetur sed obcaecati
        laudantium sequi, sit rem reprehenderit minus ipsa accusantium magni,
        doloribus natus corporis.
    </body>
</html>
